<div class="flex flex-col gap-10">
  <div class="flex gap-5">
    <h1 class="font-bold text-4xl">Update the task!</h1>
    <button
      class="items-start bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow"
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      Home page
    </button>
  </div>
  <!-- align-items: start <- this is important -->
  <form (ngSubmit)="onSubmit()" class="flex flex-col gap-10 items-start">
    <mat-form-field>
      <mat-label>Task name</mat-label>
      <input matInput [(ngModel)]="task.name" name="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="task.status" name="status">
        <mat-option value="Todo">Todo</mat-option>
        <mat-option value="Completed">Completed</mat-option>
      </mat-select>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-flat-button type="submit" class="btn btn-primary">
        Update Task
      </button>
    </div>
  </form>
</div>
